<div class="p-4">
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">Khối lượng</th>
        <th scope="col">Kích thước</th>
        <th scope="col">Giao hàng nhanh</th>
        <th scope="col">Giao hàng tiêu chuẩn</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">0 - 1000gr</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button class="btn">Chỉnh sửa</button></td>
      </tr>
      <tr>
        <th scope="row">1001 - 3000 gr</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><button class="btn">Chỉnh sửa</button></td>
      </tr>
      <tr>
        <th scope="row">Mỗi 500gr tiếp theo <br> ( hàng dưới 4kg)</th>
        <td>Larry the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td><button class="btn">Chỉnh sửa</button></td>
      </tr>
      <tr>
        <th scope="row">Mỗi 500gr tiếp theo <br> (hàng trên 4kg)</th>
        <td>Larry the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td><button class="btn">Chỉnh sửa</button></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary float-right px-4 mr-4">Thêm</button>
</div>
