/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";
:root {
    $primary-color: #ff6a6a;
    $color-red: #ff1654;
    $color-blue: #3b76ef;
    $color-grey: #abb4bd;
    $color-pink: #FF6A6A;
}
